# Dependency directories
node_modules/

# Build outputs
dist/
build/
artefacts//

# Serverless directories
.serverless/

# Environment files
.env

# IDE / editors
.vscode/
.idea/
*.swp
*.swo
*~

# Operating System Files
.DS_Store
Thumbs.db

# Logs
logs
*.log
npm-debug.log*
